#about {
  background-color: $first-background-color;

  .about {
    @include flex();
    @media screen and (max-width: 767px) {
      @include flex();
      flex-direction: column;
      gap: 35px;
    }
    .right {
      @include flex(center, flex-start);
      flex-direction: column;
      gap: 17px;
      width: 30%;
      @media screen and (max-width: 767px) {
        width: 70%;
        @include flex();
        margin: 17px;
      }

      h5 {
        font-size: 22px;
        font-family: "Rubik", sans-serif;
        color: #992426;
      }
      h1 {
        color: #191818;
        font-family: "Rubik", sans-serif;
        font-size: 35px;
      }
      p {
        color: #383838bf;
        font-family: "Palanquin Dark", sans-serif;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
      }
      button {
        background-color: #174141;
        color: #ffffff;
        border-radius: 3px;
        padding: 10px;
        border: none;
        width: 135px;
      }
      button:hover {
        background-color: #6f8e87;
        color: #175d5d;
      }
      .button {
        @include flex();
        gap: 7px;
        .one {
          height: 10px;
          border-radius: 50%;
          width: 10px;
          background-color: rgb(184, 184, 184);
        }
        .one:hover {
          background-color: #df4244;
        }
        .two {
          height: 10px;
          width: 20px;
          border-radius: 5px;
          background-color: #bd3739;
        }
        .two:hover {
          background-color: rgb(178, 167, 167);
        }
      }
    }
    .left {
      @include flex();
      width: 40%;
      img {
        height: 300px;
        width: 300px;
      }
    }
  }
}
