#home {
    background-color: $primary-background-color;
    .home-1 {
      @include flex(center,flex-start);
      flex-direction: column;
      margin: 20px;
      @media screen and (max-width: 767px) {
        display: none;
      }
      .home {
        @include flex(space-between);
        h1 {
          color: #000000;
          font-family: "Palanquin Dark", sans-serif;
          font-size: 35px;
        }
        .button-1 {
          background-color: #f7f9fc;
          padding: 4px;
          width: 270px;
          color: #aaaaaa;
          border-radius: 2px;
          margin: 16px;
          border: none;
        }
        .fa-solid {
          position: relative;
          color: #232a37bf;
          right: 35px;
        }
        .boxes {
          @include flex();
          .box{
              margin: 7px;
          }
          a {
            font-size: 15px;
            color: #2e2e2e;
            font-family: "Poppins", sans-serif;
            text-decoration: none;
          }
        }
      }
      .bag {
        nav {
          ul {
            gap: 17px;
            @include flex();
            li {
              a {
                text-decoration: none;
                color: #232d3c;
              }
            }
          }
        }
      }
    }
  }